---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
ci:
    autoupdate_branch: nightly
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: check-symlinks
          - id: destroyed-symlinks
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml
          - id: check-toml
          - id: check-ast
          - id: check-added-large-files
          - id: check-merge-conflict
          - id: check-executables-have-shebangs
          - id: check-shebang-scripts-are-executable
          - id: detect-private-key
          - id: debug-statements
          - id: mixed-line-ending
            args: [--fix=lf]
    - repo: https://github.com/psf/black-pre-commit-mirror
      rev: 25.12.0
      hooks:
          - id: black
    - repo: https://github.com/codespell-project/codespell
      rev: v2.4.1
      hooks:
          - id: codespell
            args:
                - --skip=*.css,*.js,*.map,*.scss,*.svg
                - --ignore-words-list=magent,pres,roate
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.14.9
      hooks:
          - id: ruff-check
            args:
                - --select=I
                - --fix
                - --ignore=E501,F401
    - repo: https://github.com/asottile/pyupgrade
      rev: v3.21.2
      hooks:
          - id: pyupgrade
            args: [--py38-plus]
    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.2.3
      hooks:
          - id: yamlfmt
    # - repo: https://github.com/python-jsonschema/check-jsonschema
    #   rev: 0.27.0
    #   hooks:
    #       - id: check-github-workflows
    - repo: https://github.com/astral-sh/uv-pre-commit
      # uv version.
      rev: 0.9.27
      hooks:
          - id: uv-lock
