[project]
name = "agilerl"
version = "2.4.2.dev0"
description = "AgileRL is a deep reinforcement learning library focused on improving RL development through RLOps."
authors = [{ name = "Nick Ustaran-Anderegg", email = "dev@agilerl.com" }]
license = "Apache-2.0"
readme = "README.md"
requires-python = ">=3.10,<3.13"

dependencies = [
    "accelerate>=1.7.0",
    "dill>=0.3.7",
    "fastrand>=1.3.0",
    "flatten_dict>=0.4.2",
    "gymnasium>=1.0.0",
    "google-cloud-storage>=2.5.0",
    "h5py>=3.8.0",
    "hydra-core>=1.3.2",
    "matplotlib>=3.9.4,<3.10",
    "minari[all]==0.5.2",
    "numpy>=1.26.4",
    "omegaconf>=2.3.0",
    "pandas>=2.2.3",
    "pettingzoo>=1.23.1",
    "jax[cpu]>=0.4.31",
    "packaging>=20.0",
    "pre-commit>=3.4.0",
    "pygame>=2.6.0",
    "pymunk>=6.2.0",
    "redis>=4.4.4",
    "scipy>=1.12.0",
    "SuperSuit>=3.9.0",
    "termcolor>=1.1.0",
    "torch==2.7.1",
    "tensordict>=0.8",
    "tqdm>=4.66.4",
    "ucimlrepo>=0.0.3",
    "wandb>=0.17.6",
]

[project.optional-dependencies]
llm = [
    "datasets==4.4.1",
    "deepspeed>=0.17.1",
    "peft>=0.18.0",
    "transformers>=4.57.1",
    "vllm==0.10.0",
]
all = [
    "datasets==4.4.1",
    "deepspeed>=0.17.1",
    "peft>=0.18.0",
    "transformers>=4.57.1",
    "vllm==0.10.0",
]

[dependency-groups]
dev = [
    "pytest>=9.0.2",
    "pytest-cov>=7.0.0",
]
docs = [
    "furo>=2025.12.19",
    "sphinx-github-changelog>=1.7.1",
    "sphinx-notfound-page>=1.1.0",
    "sphinx-toolbox>=4.1.2",
    "sphinxcontrib-googleanalytics>=0.5",
]

[tool.pytest.ini_options]
# Deterministic ordering for tests; useful for pytest-xdist.
env = ["PYTHONHASHSEED=0", "VLLM_ATTENTION_BACKEND=XFORMERS", "VLLM_USE_FLASHINFER_SAMPLER=0"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["agilerl"]

[tool.hatch.build.targets.sdist]
exclude = ["tutorials"]

[tool.black]
line-length = 88

[tool.isort]
profile = "black"

[tool.ruff]
# ignore = ["E501"]
line-length = 88
