[tool.poetry]
name = "agilerl"
version = "2.2.7"

description = "AgileRL is a deep reinforcement learning library focused on improving RL development through RLOps."
authors = ["Nick Ustaran-Anderegg <dev@agilerl.com>"]
license = "Apache 2.0"
readme = "README.md"
exclude = ["tutorials"]

[tool.poetry.dependencies]
python = "^3.10"
accelerate = "^1.4.0"
deepspeed = "^0.16.4"
dill = "^0.3.7"
fastrand = "^1.3.0"
flatten_dict = "^0.4.2"
gymnasium = "^1.0.0"
google-cloud-storage = "^2.5.0"
h5py = "^3.8.0"
hydra-core = "^1.3.2"
matplotlib = "~3.9.4"
minari = "^0.5.2"
numpy = "^1.26.4"
omegaconf = "^2.3.0"
pandas = "^2.2.3"
peft = "^0.15.2"
pettingzoo = "^1.23.1"
jax = {version = "^0.4.31", extras = ["cpu"]}
pre-commit = "^3.4.0"
pygame = "^2.6.0"
pymunk = "^6.2.0"
redis = "^4.4.4"
scipy = "^1.12.0"
SuperSuit = "^3.9.0"
termcolor = "^1.1.0"
torch = "2.5.1"
tensordict = "^0.6"
tqdm = "^4.66.4"
transformers = "^4.48.1"
ucimlrepo = "^0.0.3"
wandb = "^0.17.6"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
