[tool.poetry]
name = "agilerl"
version = "2.4.1.dev3"

description = "AgileRL is a deep reinforcement learning library focused on improving RL development through RLOps."
authors = ["Nick Ustaran-Anderegg <dev@agilerl.com>"]
license = "Apache 2.0"
readme = "README.md"
exclude = ["tutorials"]

[tool.poetry.dependencies]
python = ">=3.10,<3.13"
accelerate = "^1.7.0"
dill = "^0.3.7"
fastrand = "^1.3.0"
flatten_dict = "^0.4.2"
gymnasium = "^1.0.0"
google-cloud-storage = "^2.5.0"
h5py = "^3.8.0"
hydra-core = "^1.3.2"
matplotlib = "~3.9.4"
minari = { version = "0.5.2", extras = ["all"] }
numpy = "^1.26.4"
omegaconf = "^2.3.0"
pandas = "^2.2.3"
pettingzoo = "^1.23.1"
jax = { version = "^0.4.31", extras = ["cpu"] }
packaging = ">=20.0"
pre-commit = "^3.4.0"
pygame = "^2.6.0"
pymunk = "^6.2.0"
redis = "^4.4.4"
scipy = "^1.12.0"
SuperSuit = "^3.9.0"
termcolor = "^1.1.0"
torch = "2.7.1"
tensordict = "^0.8"
tqdm = "^4.66.4"
ucimlrepo = "^0.0.3"
wandb = "^0.17.6"
datasets = {version = "4.4.1", optional = true}
deepspeed = { version = "^0.17.1", optional = true }
peft = { version = "^0.18.0", optional = true }
transformers = { version = "^4.57.1", optional = true }
vllm = { version = "0.10.0", optional = true }

[tool.poetry.extras]
llm = ["datasets", "deepspeed", "peft", "transformers", "vllm"]
all = ["datasets", "deepspeed", "peft", "transformers", "vllm"]


[tool.pytest.ini_options]
# Deterministic ordering for tests; useful for pytest-xdist.
env = ["PYTHONHASHSEED=0", "VLLM_ATTENTION_BACKEND=XFORMERS", "VLLM_USE_FLASHINFER_SAMPLER=0",]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 88

[tool.isort]
profile = "black"

[tool.ruff]
# ignore = ["E501"]
line-length = 88
