accelerate==1.12.0 ; python_version >= "3.10" and python_version < "3.13"
aiohappyeyeballs==2.6.1 ; python_version >= "3.10" and python_version < "3.13"
aiohttp==3.13.2 ; python_version >= "3.10" and python_version < "3.13"
aiosignal==1.4.0 ; python_version >= "3.10" and python_version < "3.13"
antlr4-python3-runtime==4.9.3 ; python_version >= "3.10" and python_version < "3.13"
anyio==4.12.0 ; python_version >= "3.10" and python_version < "3.13"
async-timeout==5.0.1 ; python_version >= "3.10" and python_full_version <= "3.11.2"
attrs==25.4.0 ; python_version >= "3.10" and python_version < "3.13"
cachetools==6.2.2 ; python_version >= "3.10" and python_version < "3.13"
certifi==2025.11.12 ; python_version >= "3.10" and python_version < "3.13"
cffi==2.0.0 ; python_version >= "3.10" and python_version < "3.13"
cfgv==3.5.0 ; python_version >= "3.10" and python_version < "3.13"
charset-normalizer==3.4.4 ; python_version >= "3.10" and python_version < "3.13"
click==8.2.1 ; python_version >= "3.10" and python_version < "3.13"
cloudpickle==3.1.2 ; python_version >= "3.10" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.13" and platform_system == "Windows"
contourpy==1.3.2 ; python_version == "3.10"
contourpy==1.3.3 ; python_version >= "3.11" and python_version < "3.13"
cycler==0.12.1 ; python_version >= "3.10" and python_version < "3.13"
datasets==4.4.1 ; python_version >= "3.10" and python_version < "3.13"
dill==0.3.9 ; python_version >= "3.10" and python_version < "3.13"
distlib==0.4.0 ; python_version >= "3.10" and python_version < "3.13"
docker-pycreds==0.4.0 ; python_version >= "3.10" and python_version < "3.13"
exceptiongroup==1.3.1 ; python_version == "3.10"
farama-notifications==0.0.4 ; python_version >= "3.10" and python_version < "3.13"
fastrand==1.8.0 ; python_version >= "3.10" and python_version < "3.13"
filelock==3.20.0 ; python_version >= "3.10" and python_version < "3.13"
flatten-dict==0.4.2 ; python_version >= "3.10" and python_version < "3.13"
fonttools==4.61.0 ; python_version >= "3.10" and python_version < "3.13"
frozenlist==1.8.0 ; python_version >= "3.10" and python_version < "3.13"
fsspec==2025.10.0 ; python_version >= "3.10" and python_version < "3.13"
gitdb==4.0.12 ; python_version >= "3.10" and python_version < "3.13"
gitpython==3.1.45 ; python_version >= "3.10" and python_version < "3.13"
google-api-core==2.28.1 ; python_version >= "3.10" and python_version < "3.13"
google-auth==2.43.0 ; python_version >= "3.10" and python_version < "3.13"
google-cloud-core==2.5.0 ; python_version >= "3.10" and python_version < "3.13"
google-cloud-storage==2.19.0 ; python_version >= "3.10" and python_version < "3.13"
google-crc32c==1.7.1 ; python_version >= "3.10" and python_version < "3.13"
google-resumable-media==2.8.0 ; python_version >= "3.10" and python_version < "3.13"
googleapis-common-protos==1.72.0 ; python_version >= "3.10" and python_version < "3.13"
gymnasium==1.2.2 ; python_version >= "3.10" and python_version < "3.13"
h11==0.16.0 ; python_version >= "3.10" and python_version < "3.13"
h5py==3.15.1 ; python_version >= "3.10" and python_version < "3.13"
hf-xet==1.2.0 ; python_version >= "3.10" and python_version < "3.13" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "arm64" or platform_machine == "aarch64")
httpcore==1.0.9 ; python_version >= "3.10" and python_version < "3.13"
httpx==0.28.1 ; python_version >= "3.10" and python_version < "3.13"
huggingface-hub==0.36.0 ; python_version >= "3.10" and python_version < "3.13"
hydra-core==1.3.2 ; python_version >= "3.10" and python_version < "3.13"
identify==2.6.15 ; python_version >= "3.10" and python_version < "3.13"
idna==3.11 ; python_version >= "3.10" and python_version < "3.13"
importlib-metadata==8.7.0 ; python_version >= "3.10" and python_version < "3.13"
jax==0.4.38 ; python_version >= "3.10" and python_version < "3.13"
jaxlib==0.4.38 ; python_version >= "3.10" and python_version < "3.13"
jinja2==3.1.6 ; python_version >= "3.10" and python_version < "3.13"
kiwisolver==1.4.9 ; python_version >= "3.10" and python_version < "3.13"
markdown-it-py==4.0.0 ; python_version >= "3.10" and python_version < "3.13"
markupsafe==3.0.3 ; python_version >= "3.10" and python_version < "3.13"
matplotlib==3.9.4 ; python_version >= "3.10" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.13"
minari==0.5.3 ; python_version >= "3.10" and python_version < "3.13"
ml-dtypes==0.5.4 ; python_version >= "3.10" and python_version < "3.13"
mpmath==1.3.0 ; python_version >= "3.10" and python_version < "3.13"
multidict==6.7.0 ; python_version >= "3.10" and python_version < "3.13"
multiprocess==0.70.17 ; python_version >= "3.10" and python_version < "3.13"
networkx==3.4.2 ; python_version == "3.10"
networkx==3.6.1 ; python_version >= "3.11" and python_version < "3.13"
nodeenv==1.9.1 ; python_version >= "3.10" and python_version < "3.13"
numpy==1.26.4 ; python_version >= "3.10" and python_version < "3.13"
nvidia-cublas-cu12==12.6.4.1 ; python_version >= "3.10" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-cuda-cupti-cu12==12.6.80 ; python_version >= "3.10" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-cuda-nvrtc-cu12==12.6.77 ; python_version >= "3.10" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-cuda-runtime-cu12==12.6.77 ; python_version >= "3.10" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-cudnn-cu12==9.5.1.17 ; python_version >= "3.10" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-cufft-cu12==11.3.0.4 ; python_version >= "3.10" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-cufile-cu12==1.11.1.6 ; python_version >= "3.10" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-curand-cu12==10.3.7.77 ; python_version >= "3.10" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-cusolver-cu12==11.7.1.2 ; python_version >= "3.10" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-cusparse-cu12==12.5.4.2 ; python_version >= "3.10" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-cusparselt-cu12==0.6.3 ; python_version >= "3.10" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-nccl-cu12==2.26.2 ; python_version >= "3.10" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-nvjitlink-cu12==12.6.85 ; python_version >= "3.10" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-nvtx-cu12==12.6.77 ; python_version >= "3.10" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
omegaconf==2.3.0 ; python_version >= "3.10" and python_version < "3.13"
opt-einsum==3.4.0 ; python_version >= "3.10" and python_version < "3.13"
orjson==3.11.5 ; python_version >= "3.10" and python_version < "3.13"
packaging==25.0 ; python_version >= "3.10" and python_version < "3.13"
pandas==2.3.3 ; python_version >= "3.10" and python_version < "3.13"
pettingzoo==1.25.0 ; python_version >= "3.10" and python_version < "3.13"
pillow==12.0.0 ; python_version >= "3.10" and python_version < "3.13"
platformdirs==4.5.1 ; python_version >= "3.10" and python_version < "3.13"
pre-commit==3.8.0 ; python_version >= "3.10" and python_version < "3.13"
propcache==0.4.1 ; python_version >= "3.10" and python_version < "3.13"
proto-plus==1.26.1 ; python_version >= "3.10" and python_version < "3.13"
protobuf==5.29.5 ; python_version >= "3.10" and python_version < "3.13"
psutil==7.1.3 ; python_version >= "3.10" and python_version < "3.13"
pyarrow==22.0.0 ; python_version >= "3.10" and python_version < "3.13"
pyasn1-modules==0.4.2 ; python_version >= "3.10" and python_version < "3.13"
pyasn1==0.6.1 ; python_version >= "3.10" and python_version < "3.13"
pycparser==2.23 ; python_version >= "3.10" and python_version < "3.13" and implementation_name != "PyPy"
pygame==2.6.1 ; python_version >= "3.10" and python_version < "3.13"
pygments==2.19.2 ; python_version >= "3.10" and python_version < "3.13"
pymunk==6.11.1 ; python_version >= "3.10" and python_version < "3.13"
pyparsing==3.2.5 ; python_version >= "3.10" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.13"
pytz==2025.2 ; python_version >= "3.10" and python_version < "3.13"
pyyaml==6.0.3 ; python_version >= "3.10" and python_version < "3.13"
redis==4.6.0 ; python_version >= "3.10" and python_version < "3.13"
requests==2.32.5 ; python_version >= "3.10" and python_version < "3.13"
rich==14.2.0 ; python_version >= "3.10" and python_version < "3.13"
rsa==4.9.1 ; python_version >= "3.10" and python_version < "3.13"
safetensors==0.7.0 ; python_version >= "3.10" and python_version < "3.13"
scipy==1.15.3 ; python_version == "3.10"
scipy==1.16.3 ; python_version >= "3.11" and python_version < "3.13"
sentry-sdk==2.47.0 ; python_version >= "3.10" and python_version < "3.13"
setproctitle==1.3.7 ; python_version >= "3.10" and python_version < "3.13"
setuptools==79.0.1 ; python_version == "3.12"
setuptools==80.9.0 ; python_version >= "3.10" and python_version < "3.12"
shellingham==1.5.4 ; python_version >= "3.10" and python_version < "3.13"
six==1.17.0 ; python_version >= "3.10" and python_version < "3.13"
smmap==5.0.2 ; python_version >= "3.10" and python_version < "3.13"
supersuit==3.10.0 ; python_version >= "3.10" and python_version < "3.13"
sympy==1.14.0 ; python_version >= "3.10" and python_version < "3.13"
tensordict==0.8.3 ; python_version >= "3.10" and python_version < "3.13"
termcolor==1.1.0 ; python_version >= "3.10" and python_version < "3.13"
tinyscaler==1.2.8 ; python_version >= "3.10" and python_version < "3.13"
torch==2.7.1 ; python_version >= "3.10" and python_version < "3.13"
tqdm==4.67.1 ; python_version >= "3.10" and python_version < "3.13"
triton==3.3.1 ; python_version >= "3.10" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
typer==0.20.0 ; python_version >= "3.10" and python_version < "3.13"
typing-extensions==4.15.0 ; python_version >= "3.10" and python_version < "3.13"
tzdata==2025.2 ; python_version >= "3.10" and python_version < "3.13"
ucimlrepo==0.0.3 ; python_version >= "3.10" and python_version < "3.13"
urllib3==2.6.1 ; python_version >= "3.10" and python_version < "3.13"
virtualenv==20.35.4 ; python_version >= "3.10" and python_version < "3.13"
wandb==0.17.9 ; python_version >= "3.10" and python_version < "3.13"
xxhash==3.6.0 ; python_version >= "3.10" and python_version < "3.13"
yarl==1.22.0 ; python_version >= "3.10" and python_version < "3.13"
zipp==3.23.0 ; python_version >= "3.10" and python_version < "3.13"
